.paciente-list {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}


.paciente-list article{
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.paciente-list article p {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}

.paciente-list article a {
  height: 42px;
  border-radius: 5px;
  border: 2px solid #8b10ae;
  background: none;
  margin-top: 10px;
  color: #8b10ae;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paciente-list article a:hover {
  background: #8b10ae;
  color: #fff;
}

.paciente-list .actions{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.paciente-list .actions button{
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #8b10ae;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.paciente-list .actions button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.paciente-list .actions button:hover{
  opacity: 0.7;
}

.paciente-list .actions button[disabled]:hover{
  opacity: 0.5;
}

.dados-paciente{
  display: flex;
  align-items: baseline;
  margin-bottom: 2px;
}
.dados-paciente p {
  margin-left: 5px;

}
